<!DOCTYPE html>
<html>
	<head>
		<title>Tournament 1</title>
		<style>
			th {
				color: white;
			}
		</style>
	</head>
	<body></body>
</html>


<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
		<link rel="stylesheet" href="{{ asset('stylesheet.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
	</head>
	<body>
		<header>
			<h1>{% trans %}
				Paperplane Tournament Tracker
				{% endtrans %}</h1><br>
			<button id="scrollStart">
				<b>V</b>
			</button>
		</header>
		<section class="animation">
			<img class="paper-plane" src="{{ asset('plane.png') }}" alt="Paperplane">
		</section>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.js" integrity="sha512-mq6TSOBEH8eoYFBvyDQOQf63xgTeAk7ps+MHGLWZ6Byz0BqQzrP+3GIgYL+KvLaWgpL8XgDVbIRYQeLa3Vqu6A==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js" integrity="sha512-/8phkpsAzxsbuX18zNkQ2gCq4Q5JsWoPo1jHLDeZorPUHRtx9YJxpdk+os05oDhPJVCNzA2/NMl4rmJyQ+6Fvg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js" integrity="sha512-I0VFyPo7hdM7YrEbQ0pvX4bX2904k0+B19u/xBrPrQoMprfcSnIDfGFD8kP52GbAhwtDjkEVhXlQvj8+vkJyew==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js" integrity="sha512-ht40uOoiTef4nKq0THVzjIGh3VS108J577LVVgNXnQLXza3doXjoM3owin2vd+Hm6w88k12RIrePIVY2WNzz6Q==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/BezierPlugin.min.js" integrity="sha512-oOy5+mtZRcqjn6b9k4oj+tk2/hVIetzOAM9Y5cndEHgLxiIGavAz1agbHf6JjGzxXZ2SMbu08Uy1DDF0UwA0qQ==" crossorigin="anonymous"></script>

		<script src="{{ asset('script.js') }}" defer></script>
		<footer>
			<div class="limiter">
				<div class="container-table100">
					<div class="wrap-table100">
						<div class="table100">
							{% if app.request.locale == 'en' %}
								<button>
									<a class="specialBtn" href="{{ path('homepage', {'_locale': 'de'}) }}">
										{% trans %}
										switch language to German
										{% endtrans %}
									</a>
								</button>
							{% endif %}
							{% if app.request.locale == 'de' %}
								<button>
									<a class="specialBtn" href="{{ path('homepage', {'_locale': 'en'}) }}">
										{% trans %}
										sprache zu Englisch wechseln
										{% endtrans %}
									</a>
								</button>
							{% endif %}
							<br><br>
							<table>
								<thead>
									<th>
										{% trans %}
										Round Nr
										{% endtrans %}
									</th>
									<th>
										{% trans %}
										Atenndants
										{% endtrans %}
									</th>
									<th>
										{% trans %}
										Winner
										{% endtrans %}
									</th>
									<th>
										{% trans %}
										Date
										{% endtrans %}
									</th>
									<th>
										{% trans %}
										Time
										{% endtrans %}
									</th>
									<th></th>
								</thead>
								<tr>

									<td>
										1
									</td>
									<td>5</td>
									<td>twigger</td>
									<td>01.09.2021</td>
									<td>18:30</td>
									<td>
										<a class="detail" href="{{ path('round', {'number': 1}) }}">{% trans %}show details
											{% endtrans %}</a>
									</td>

								</tr>
								<tr>
									<td>
										2
									</td>
									<td>15</td>
									<td>twigger</td>
									<td>10.03.2021</td>
									<td>14:30</td>
									<td>
										<a class="detail" href="{{ path('round', {'number': 2}) }}">{% trans %}show details
											{% endtrans %}</a>
									</td>
								</tr>
								<tr>
									<td>
										3
									</td>
									<td>9</td>
									<td>symfonius</td>
									<td>01.09.2021</td>
									<td>20:30</td>
									<td>
										<a class="detail" href="{{ path('round', {'number': 3}) }}">{% trans %}show details
											{% endtrans %}</a>
									</td>
								</tr>
							</table>
						</footer>

					</div>
				</div>
			</div>
		</div>

	</body>
</html>
